<div class="pie-pagina ">
            <div class="contenedor-piepagina contenedor">
                <div class="info">
                    <h3>Dirección</h3>
                    <p>Manuela Pedraza. 2356</p>
                </div>
                <div class="info">
                    <h3>Horarios</h3>
                    <p>lunes a viernes: 9 am a 23 pm</p>
                    <p>Sábados y domingos: 10 am a 23 pm</p>
                    <p>15 30392-764789</p>
                </div>
                <div class="info">
                    <h3>Telefono:</h3>
                    <p>Para reservas comunicate al: 15 30927-64789</p>
                </div>
                <div class="info">
                    <h3>Noticias</h3>
                    <p>suscribete para recibir más noticias</p>
                    <input type="email" placeholder="Tu correo">
                    <input type="submit" class="btn btn-verde" value="Suscribirse">
                </div>
            </div>
        </div>
        <footer class="footer">
            <p>Todos los derechos reservados &copy; Juan Barbieri, trabajo ProyectoFinalPWI. Agosto 2022</p>
        </footer>