<header class="encabezado">
            <div class="contenedor-navegacion">
                <div class="contenido-navegacion contenedor">
                    <div class="logo">
                        <h2>Ristorante    <span class="verde">"Las Pastas  </span>    <span>della  </span>    <span class="rojo">Nonna"</span></h2>
                    </div>
<nav class="navegacion ocultar">
                        <a href="../index.hbs">Inicio</a>
                        <a href="../Nosotros.hbs">Sobre Nosotros</a>
                        <a href="../Menu.hbs">Menú</a>
                        <a href="../Chef.hbs">Chef</a>
                        <a href="../Contacto.hbs">Contacto</a>
                    </nav>
                
                    <div class="hamburguesa"><span></span><span></span><span></span></div>
                </div>
            </div>
            <div class="contenido-header">
                <div class="contenedor-encabezado">
                    <div class="texto-encabezado">
                        <h2>¡Accoglienza!</h2>
                        <a href="../Menu.hbs" class="btn bordes"> Il nostro menú  </a>
                </div>
                <video autoplay loop muted>
                    <source src="/ProyectoFinalPWI-2022/Multimedia/Imagenes/La pasta de la nonna/video.mp4">
                </video>
            </div>