       <section class="menu contenedor">
            <h2 class="texto-platillos">Platos Gourmet</h2>
            <div class="botones-platillos">
                <button class="todos btn btn-verde">Todos</button>
                <button class="ensaladas btn btn-verde">Ensaladas</button>
                <button class="pasta btn btn-verde">Pasta</button>
                <button class="pizza btn btn-verde">Pizza</button>
                <button class="postres btn btn-verde">Postres</button>
            </div>
            <div class="platillos">
            <div class="platillo" data-platillo="ensalada">
                <img class="imagen-plato" data-src="Multimedia/Imagenes/La pasta de la nonna/ensalada.webp" alt="Ensalada">
                <h2 class="plato">Ensalada de Quinoa</h2>
                <p class="descripcion">Ensalada de Quinoa con cerezas, tomate, aceitunas y cereal</p>
                <div class="precio">
                    <p class="monto">$500</p>
                    <button class="comprar">comprar</button>
                </div>
            </div>
            <div class="platillo" data-platillo="ensalada">
                <img class="imagen-plato" data-src="Multimedia/Imagenes/La pasta de la nonna/ensalada2.webp" alt="Ensalada">
                <h2 class="plato">Ensalada San Cristo</h2>
                <p class="descripcion">Ensalada de Lechuga con Palta, Pollo, Tomate Cherry y aceitunas </p>
                <div class="precio">
                    <p class="monto">$600</p>
                    <button class="comprar">comprar</button>
                </div>
            </div>
            <div class="platillo" data-platillo="ensalada">
                    <img class="imagen-plato" data-src="Multimedia/Imagenes/La pasta de la nonna/ensalada2.webp" alt="Ensalada">
                    <h2 class="plato">Ensalada Criolla</h2>
                    <p class="descripcion">Ensalada de Rúcula con tomates Cherrys, aceitunas negras y trozos de zapallito</p>
                    <div class="precio">
                        <p class="monto">$450</p>
                        <button class="compar">comprar</button>
                    </div>
            </div>
            <div class="platillo" data-platillo="pasta">
                    <img class="imagen-plato" data-src="Multimedia/Imagenes/La pasta de la nonna/pasta1.webp" alt="Pasta">
                    <h2 class="plato">Pasta "La Nonna"</h2>
                    <p class="descripcion">Fideos sabor a Brocoli con una pisca de aceite de oliva, queso rallado y cilantro</p>
                    <div class="precio">
                        <p class="monto">$450</p>
                        <button class="comprar">comprar</button>
                    </div>
            </div>
            <div class="platillo" data-platillo="pasta">
                <img class="imagen-plato" data-src="Multimedia/Imagenes/La pasta de la nonna/pasta2.webp" alt="Pasta">
                    <h2 class="plato"> Pasta "Barbieri"</h2>
                    <p class="descripcion">Pasta cacera con trozos decarne cortada a cuchillo, queso, salsa roja y mucho amor</p>
                <div class="precio">
                    <p class="monto">$700</p>
                    <button class="comprar">comprar</button>
                </div>
            </div>    
            <div class="platillo" data-platillo="pasta">
                <img class="imagen-plato" data-src="Multimedia/Imagenes/La pasta de la nonna/pasta2.webp"></img>
                        <h2 class="plato"> Pasta "Possitano"</h2>
                        <p class="descripcion">Pasta cacera con trozos de pollo, queso y salsa roja</p>
                    <div class="precio">
                        <p class="monto">$500</p>
                        <button class="comprar">comprar</button>
                    </div>
            </div>
            <div class="platillo" data-platillo="pizza">
                <img class="imagen-plato" data-src="Multimedia/Imagenes/La pasta de la nonna/pizza1.webp" alt="Pizza">
                    <h2 class="plato">Pizza de Mozzarela</h2>
                    <p class="descripcion">Pizza grande de Mozarella</p>
                    <div class="precio">
                        <p class="monto">$1000</p>
                        <button class="comprar">comprar</button>
                    </div>    
            </div>
            <div class="platillo" data-platillo="pizza">
                <img class="imagen-plato" data-src="Multimedia/Imagenes/La pasta de la nonna/pizza2.webp" alt="Pizza">
                    <h2 class="plato">Pizza de Anchoas</h2>
                    <p class="descripcion">Pizza grande de Mozzarela con anchoas y con aceitunas negras</p>
                    <div class="precio">
                        <p class="monto">$1300</p>
                        <button class="comprar">comprar</button>
                    </div>
            </div>
            <div class="platillo" data-platillo="pizza">
                <img class="imagen-plato" data-src="Multimedia/Imagenes/La pasta de la nonna/pizza2.webp" alt="Pizza">
                    <h2 class="plato"> Pizza de Salame</h2>
                    <p class="descripcion">Pizza grande de Salame y queso con aceitunas negras</p>
                    <div class="precio">
                        <p class="monto">$1100</p>
                        <button class="comprar">comprar</button>
                    </div>
            </div>
            <div class="platillo" data-platillo="postre">
                <img class="imagen-plato" data-src="Multimedia/Imagenes/La pasta de la nonna/postres1.webp" alt="Postres">
                    <h2 class="plato">Helado "Forza Italia"</h2>
                    <p class="descripcion">Helado sabor crema Kinder con súper dulce de leche y trozos de chocolate</p>
                    <div class="precio">
                        <p class="monto">$900</p>
                        <button class="comprar">comprar</button>
                    </div>
            </div>
            <div class="platillo" data-platillo="postre">
                <img class="imagen-plato" data-src="Multimedia/Imagenes/La pasta de la nonna/postres2.webp" alt="Postres">
                    <h2 class="plato"> Mousse "La Tramposa"</h2>
                    <p class="descripcion">Mousse de Chocolate</p>
                    <div class="precio">
                        <p class="monto">$500</p>
                        <button class="comprar">comprar</button>
                    </div>
            </div>
            <div class="platillo" data-platillo="postre">
                <img class="imagen-plato" data-src="Multimedia/Imagenes/La pasta de la nonna/postres3.webp" alt="Postres">
                    <h2 class="plato">Muffins "Lo de Criniti"</h2>
                    <p class="descripcion">Muffins de vainilla con frutos del bosque</p>
                    <div class="precio">
                        <p class="monto">$800</p>
                        <button class="comprar">comprar</button>
                    </div>    
            </div>
        </div>
        </div>
        </section>
        <div class="separador">
            <div class="contenido-separador contenedor">
                <h2 class=""> Cibo italiano per iniziare la giornata</h2>
                <P>Comienza tu día degustando la deliciosa comida Italiana o probando uno de nuestros fabulosos cafes</P>
                <a href="./Menu.html" class="btn btn-verde">Ordenar ahora</a>
                    
            </div>
        </div>    
        <section class="chef contenedor">
            <h2>Chef Ejecutivo</h2>
            <div class="contenido-chef">
                <div class="texto-chef">
                    <h3>La cocina de autor es poner tu personalidad en lo que haces y ese sentimiento la convierte en algo distinto</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet consequatur ipsum rem! Cumque maiores ipsum adipisci ab. Mollitia sint voluptas minima ut, dicta sed veniam similique quaerat explicabo eius asperiores?</p>
                    <a href="https://www.joselitolab.com/chefs/massimiliano-alajmo.html?bio" class="btn btn-verde" target="_blank" rel="noopener noreferrer">Leer Biografia</a>
    
                </div>
                <div class="imagen-chef">
                <img data-src="/ProyectoFinalPWI/Multimedia/Imagenes/La pasta de la nonna/chef.webp"></img>
            </div>
        </div>
        </section>    