<div class="contenedor-nosotros contenedor">
            <div class="texto-nosotros">
                <p class="bienvenido">¡Bienvenido a!</p>
                <h1>Las Pastas della Nonna</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero minus nemo accusantium et eum corrupti ratione inventore deleniti ipsam enim, ipsum, nobis tempore laudantium quaerat ullam expedita officia exercitationem pariatur?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet cupiditate perferendis minus ea natus temporibus atque. Enim nesciunt non, explicabo a iste quaerat ipsum aliquam molestias fuga inventore dolor fugit?
                </p>
                <a href="./Contacto" class="btn btn-rojo">Contactanos</a>
                
                
            </div>
            <div class="imagenes-nosotros">
                <div class="imagen1">
                    <img data-src="../Multimedia/Imagenes/La pasta de la nonna/nosotros1.webp" alt="Mujer comiendo pizza">
                </div>
                <div class="imagen2">
                    <img data-src="Multimedia/Imagenes/La pasta de la nonna/nosotros2.webp" alt="Mujeres comiendo pizza">
                    <img data-src="Multimedia/Imagenes/La pasta de la nonna/nosotros3.webp" alt="Plato con Pasta">
                </div>
            </div>
        </div>