 <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
        <link rel="manifest" href="favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <title>Las Pasta della Nonna</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@700&family=Mulish:ital,wght@0,700;1,400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/index.css">       


    </head>
    <body>
        <header class="encabezado">
            <div class="contenedor-navegacion">
                <div class="contenido-navegacion contenedor">
                    <div class="logo">
                        <h2>Ristorante    <span class="verde">"Las Pastas  </span>    <span>della  </span>    <span class="rojo">Nonna"</span></h2>
                    </div>
                    <nav class="navegacion ocultar">
                           <a href="/">Inicio</a>
                        <a href="./Nosotros">Sobre Nosotros</a>
                        <a href="./Menu">Menú</a>
                        <a href="./Chef">Chef</a>
                        <a href="#">Contacto</a>
                    </nav>
                
                    <div class="hamburguesa"><span></span><span></span><span></span></div>
                </div>
            </div>
                <div class="separador">
                    <div class="contenido-separador contenedor">
                        <h2 class=""> Haga aquí su solicitud</h2>
                        <P>Para reservas o consultas contactenos por este medio. Muchas gracias.</P>       
                    </div>
                </div>    
                <div class="formulario-contacto contenedor">
                    <div class="informacion-contacto">
                        <h3>Contacto</h3>
                        <p><i class="fas fa-map-marker-alt"></i>Manuela Pedraza, 2356. Núñez (CABA)</p>
                    <p><i class="fas fa-envelope"></i>Lanonna-ristorante@gmail.com</p>
                    <p><i class="fas fa-phone-alt"></i>15 3092-764789</p>
                    <div class="redes-sociales">
                        <i class="fab fa-facebook-square"></i>
                        <i class="fab fa-twitter-square"></i>
                        <i class="fab fa-instagram"></i>
                    </div>
                        </div> 
                        <form class="formulario" action="./Contacto" method="post">
                            <div class="input-formulario">
                                <div class="input-formulario-contacto">
                                    <label for="nombre">Nombre</label>
                                    <input type="text" placeholder="Ej: Nombre" id="Nombre" required>
                                </div>
                                <label for="nombre">Apellido</label>
                                <input type="text" placeholder="Ej: Apellido" id="Apellido" required>
                            </div>
                            <div class="input-formulario">
                                <label for="correo">Correo</label>
                                <input type="email" placeholder="Ejemplo@gmail.com" id="Correo" required>
                            </div>
                            <div class="input-formulario">
                                <label for="telefono">Teléfono</label>
                                <input type="tel" placeholder="+54 113092-9632" id="Telefono" required>
                            </div>
                            <div class="input-formulario">
                                <label for="mensaje">Mensaje</label>
                                <textarea></textarea>
                            </div>
                            <div class="input-formulario">
                                <input type="submit" class="btn btn-verde" value="enviar">
                            </div>
                            
                        </form>
                    </div>
                </div>
                <div class="pie-pagina ">
                    <div class="contenedor-piepagina contenedor">
                        <div class="info">
                            <h3>Dirección</h3>
                            <p>Manuela Pedraza. 2356</p>
                        </div>
                        <div class="info">
                            <h3>Horarios</h3>
                            <p>lunes a viernes: 9 am a 23 pm</p>
                            <p>Sábados y domingos: 10 am a 23 pm</p>
                            <p>15 30392-764789</p>
                        </div>
                        <div class="info">
                            <h3>Telefono:</h3>
                            <p>Para reservas comunicate al: 15 30927-64789</p>
                        </div>
                        <div class="info">
                           <div class="info">
                    <h3>Tripadvisor</h3>
                    <p>Nuestra Calificación</p>
                    <a href="https://www.tripadvisor.com.ar/ShowUserReviews-g312741-d2318379-r256133553-Campo_dei_Fiori-Buenos_Aires_Capital_Federal_District.html" class="btn btn-verde ">Publicaciones</a>
                    
                </div>
                    </div>
                </div>
                <footer class="footer">
                    <p>Todos los derechos reservados &copy; Juan Barbieri, trabajo ProyectoFinalPWI. Agosto 2022</p>
                </footer>
                
                <script src="/JS/Funciones.js"></script>