 <head>
      <link rel="apple-touch-icon" sizes="57x57" href="../favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="../favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="../favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="../favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="../favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="../favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="../favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="../favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="../favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="../favicon/../favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="../favicon/../favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="../favicon/../favicon-16x16.png">
<link rel="manifest" href="../favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
        <title>Las Pasta della Nonna</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@700&family=Mulish:ital,wght@0,700;1,400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/index.css">
<body class="index.css">
        <header class="encabezado">
            <div class="contenedor-navegacion">
                <div class="contenido-navegacion contenedor">
                    <div class="logo">
                        <h2>Ristorante    <span class="verde">"Las Pastas  </span>    <span>della  </span>    <span class="rojo">Nonna"</span></h2>
                    </div>
                    <nav class="navegacion ocultar">
                        <a href="#">Inicio</a>
                        <a href="./Nosotros">Sobre Nosotros</a>
                        <a href="./Menu">Menú</a>
                        <a href="./Chef">Chef</a>
                        <a href="./Contacto">Contacto</a>
                    </nav>
                
                    <div class="hamburguesa"><span></span><span></span><span></span></div>
                </div>
            </div>
            <div class="contenido-header">
                <div class="contenedor-encabezado">
                    <div class="texto-encabezado">
                        <h2>¡Accoglienza!</h2>
                        <a href="./Menu" class="btn bordes"> Il nostro menú  </a>
                </div>
                <video autoplay loop muted>
                    <source src="./Multimedia/video.mp4">
                </video>
            </div>
        </header>

        <div class="contenedor-nosotros contenedor">
            <div class="texto-nosotros">
                <p class="bienvenido">¡Bienvenido a!</p>
                <h1>Las Pastas della Nonna</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero minus nemo accusantium et eum corrupti ratione inventore deleniti ipsam enim, ipsum, nobis tempore laudantium quaerat ullam expedita officia exercitationem pariatur?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet cupiditate perferendis minus ea natus temporibus atque. Enim nesciunt non, explicabo a iste quaerat ipsum aliquam molestias fuga inventore dolor fugit?
                </p>
                <a href="./Contacto" class="btn btn-rojo">Contactanos</a>
                
                
            </div>
            <div class="imagenes-nosotros">
                <div class="imagen1">
                    <img data-src="./Multimedia/nosotros1.webp" alt="Mujer comiendo pizza">
                </div>
                <div class="imagen2">
                    <img data-src="./Multimedia/nosotros2.webp" alt="Mujeres comiendo pizza">
                    <img data-src="./Multimedia/nosotros3.webp" alt="Plato con Pasta">
                </div>
            </div>
        </div>
        <section class="menu contenedor">
            <h2 class="texto-platillos">Platos Gourmet</h2>
            <div class="botones-platillos">
                <button class="todos btn btn-verde" style="cursor:pointer">Todos</button>
                <button class="ensaladas btn btn-verde" style="cursor:pointer" >Ensaladas</button>
                <button class="pasta btn btn-verde" style="cursor:pointer">Pasta</button>
                <button class="pizza btn btn-verde" style="cursor:pointer">Pizza</button>
                <button class="postres btn btn-verde" style="cursor:pointer">Postres</button>
            </div>
            <div class="platillos">
            <div class="platillo" data-platillo="ensalada">
                <img class="imagen-plato" data-src="./Multimedia/ensalada.webp" alt="Ensalada">
                <h2 class="plato">Ensalada de Quinoa</h2>
                <p class="descripcion">Ensalada de Quinoa con cerezas, tomate, aceitunas y cereal</p>
                <div class="precio">
                    <p class="monto">$500</p>
                    <button class="comprar">comprar</button>
                </div>
            </div>
            <div class="platillo" data-platillo="ensalada">
                <img class="imagen-plato" data-src="./Multimedia/ensalada2.webp" alt="Ensalada">
                <h2 class="plato">Ensalada San Cristo</h2>
                <p class="descripcion">Ensalada de Lechuga con Palta, Pollo, Tomate Cherry y aceitunas </p>
                <div class="precio">
                    <p class="monto">$600</p>
                    <button class="comprar">comprar</button>
                </div>
            </div>
            <div class="platillo" data-platillo="ensalada">
                    <img class="imagen-plato" data-src="./Multimedia/ensalada2.webp" alt="Ensalada">
                    <h2 class="plato">Ensalada Criolla</h2>
                    <p class="descripcion">Ensalada de Rúcula con tomates Cherrys, aceitunas negras y trozos de zapallito</p>
                    <div class="precio">
                        <p class="monto">$450</p>
                        <button class="compar">comprar</button>
                    </div>
            </div>
            <div class="platillo" data-platillo="pasta">
                    <img class="imagen-plato" data-src="./Multimedia/pasta1.webp" alt="Pasta">
                    <h2 class="plato">Pasta "La Nonna"</h2>
                    <p class="descripcion">Fideos sabor a Brocoli con una pisca de aceite de oliva, queso rallado y cilantro</p>
                    <div class="precio">
                        <p class="monto">$450</p>
                        <button class="comprar">comprar</button>
                    </div>
            </div>
            <div class="platillo" data-platillo="pasta">
                <img class="imagen-plato" data-src="./Multimedia/pasta2.webp" alt="Pasta">
                    <h2 class="plato"> Pasta "Barbieri"</h2>
                    <p class="descripcion">Pasta cacera con trozos decarne cortada a cuchillo, queso, salsa roja y mucho amor</p>
                <div class="precio">
                    <p class="monto">$700</p>
                    <button class="comprar">comprar</button>
                </div>
            </div>    
            <div class="platillo" data-platillo="pasta">
                <img class="imagen-plato" data-src="./Multimedia/pasta2.webp"></img>
                        <h2 class="plato"> Pasta "Possitano"</h2>
                        <p class="descripcion">Pasta cacera con trozos de pollo, queso y salsa roja</p>
                    <div class="precio">
                        <p class="monto">$500</p>
                        <button class="comprar">comprar</button>
                    </div>
            </div>
            <div class="platillo" data-platillo="pizza">
                <img class="imagen-plato" data-src="./Multimedia/pizza1.webp" alt="Pizza">
                    <h2 class="plato">Pizza de Mozzarela</h2>
                    <p class="descripcion">Pizza grande de Mozarella</p>
                    <div class="precio">
                        <p class="monto">$1000</p>
                        <button class="comprar">comprar</button>
                    </div>    
            </div>
            <div class="platillo" data-platillo="pizza">
                <img class="imagen-plato" data-src="./Multimedia/pizza2.webp" alt="Pizza">
                    <h2 class="plato">Pizza de Anchoas</h2>
                    <p class="descripcion">Pizza grande de Mozzarela con anchoas y con aceitunas negras</p>
                    <div class="precio">
                        <p class="monto">$1300</p>
                        <button class="comprar">comprar</button>
                    </div>
            </div>
            <div class="platillo" data-platillo="pizza">
                <img class="imagen-plato" data-src="./Multimedia/pizza2.webp" alt="Pizza">
                    <h2 class="plato"> Pizza de Salame</h2>
                    <p class="descripcion">Pizza grande de Salame y queso con aceitunas negras</p>
                    <div class="precio">
                        <p class="monto">$1100</p>
                        <button class="comprar">comprar</button>
                    </div>
            </div>
            <div class="platillo" data-platillo="postre">
                <img class="imagen-plato" data-src="./Multimedia/postres1.webp" alt="Postres">
                    <h2 class="plato">Helado "Forza Italia"</h2>
                    <p class="descripcion">Helado sabor crema Kinder con súper dulce de leche y trozos de chocolate</p>
                    <div class="precio">
                        <p class="monto">$900</p>
                        <button class="comprar">comprar</button>
                    </div>
            </div>
            <div class="platillo" data-platillo="postre">
                <img class="imagen-plato" data-src="./Multimedia/postres2.webp" alt="Postres">
                    <h2 class="plato"> Mousse "La Tramposa"</h2>
                    <p class="descripcion">Mousse de Chocolate</p>
                    <div class="precio">
                        <p class="monto">$500</p>
                        <button class="comprar">comprar</button>
                    </div>
            </div>
            <div class="platillo" data-platillo="postre">
                <img class="imagen-plato" data-src="./Multimedia/postres3.webp" alt="Postres">
                    <h2 class="plato">Muffins "Lo de Criniti"</h2>
                    <p class="descripcion">Muffins de vainilla con frutos del bosque</p>
                    <div class="precio">
                        <p class="monto">$800</p>
                        <button class="comprar">comprar</button>
                    </div>    
            </div>
        </div>
        </div>
        </section>
        <div class="separador">
            <div class="contenido-separador contenedor">
                <h2 class=""> Cibo italiano per iniziare la giornata</h2>
                <P>Comienza tu día degustando la deliciosa comida Italiana o probando uno de nuestros fabulosos cafes</P>
                <a href="./Menu" class="btn btn-verde">Ordenar ahora</a>
                    
            </div>
        </div>    
        <section class="chef contenedor">
            <h2>Chef Ejecutivo</h2>
            <div class="contenido-chef">
                <div class="texto-chef">
                    <h3>La cocina de autor es poner tu personalidad en lo que haces y ese sentimiento la convierte en algo distinto</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet consequatur ipsum rem! Cumque maiores ipsum adipisci ab. Mollitia sint voluptas minima ut, dicta sed veniam similique quaerat explicabo eius asperiores?</p>
                    <a href="https://www.joselitolab.com/chefs/massimiliano-alajmo.html?bio" class="btn btn-verde" target="_blank" rel="noopener noreferrer">Leer Biografia</a>
    
                </div>
                <div class="imagen-chef">
                <img data-src="./Multimedia/chef.webp"></img>
            </div>
        </div>
        </section>    
        <div class="formulario-contacto contenedor">
            <div class="informacion-contacto">
                <h3>Contacto</h3>
                <p><i class="fas fa-map-marker-alt"></i>Manuela Pedraza, 2356. Núñez (CABA)</p>
            <p><i class="fas fa-envelope"></i>Lanonna-ristorante@gmail.com</p>
            <p><i class="fas fa-phone-alt"></i>15 3092-764789</p>
            <div class="redes-sociales">
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-twitter-square"></i>
                <i class="fab fa-instagram"></i>
            </div>
            <hr>
                </div> 
                <form class="formulario">
                    <div class="input-formulario">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3286.098014072776!2d-58.46779768417628!3d-34.5510736622225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb69d264003bb%3A0x5dff00f2c4e1c650!2sManuela%20Pedraza%202356%2C%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1663174740754!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        
                    </div>
                </form>
            </div>
        </div>
        <div class="pie-pagina ">
            <div class="contenedor-piepagina contenedor">
                <div class="info">
                    <h3>Dirección</h3>
                    <p>Manuela Pedraza. 2356</p>
                </div>
                <div class="info">
                    <h3>Horarios</h3>
                    <p>lunes a viernes: 9 am a 23 pm</p>
                    <p>Sábados y domingos: 10 am a 23 pm</p>
                    <p>15 30392-764789</p>
                </div>
                <div class="info">
                    <h3>Telefono:</h3>
                    <p>Para reservas comunicate al: 15 30927-64789</p>
                </div>
                <div class="info">
                    <h3>Tripadvisor</h3>
                    <p>Nuestra Calificación</p>
                    <a href="https://www.tripadvisor.com.ar/ShowUserReviews-g312741-d2318379-r256133553-Campo_dei_Fiori-Buenos_Aires_Capital_Federal_District.html" class="btn btn-verde ">Publicaciones</a>
                    
                </div>
            </div>
        </div>
        <footer class="footer">
            <p>Todos los derechos reservados &copy; Juan Barbieri, trabajo ProyectoFinalPWI. Agosto 2022</p>
        </footer>
            
            
            <script src="/JS/Funciones.js"></script>
           


        </div>