<head>
          <link rel="apple-touch-icon" sizes="57x57" href="../favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="../favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="../favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="../favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="../favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="../favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="../favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="../favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="../favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="../favicon/../favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="../favicon/../favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="../favicon/../favicon-16x16.png">
<link rel="manifest" href="../favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
        <title>Las Pasta della Nonna</title>
        <title>Las Pasta della Nonna</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@700&family=Mulish:ital,wght@0,700;1,400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/ProyectoUtn/Public/css/normalize.css">
        <link rel="stylesheet" href="/ProyectoUtn/Public/css/index.css">       
    <body>
        <header class="encabezado">
            <div class="contenedor-navegacion">
                <div class="contenido-navegacion contenedor">
                    <div class="logo">
                        <h2>Ristorante    <span class="verde">"Las Pastas  </span>    <span>della  </span>    <span class="rojo">Nonna"</span></h2>
                    </div>
                    <nav class="navegacion ocultar">
                         <a href="/">Inicio</a>
                        <a href="./Nosotros">Sobre Nosotros</a>
                        <a href="./Menu">Menú</a>
                        <a href="./Chef">Chef</a>
                        <a href="./Contacto">Contacto</a>
                    </nav>
                
                    <div class="hamburguesa"><span></span><span></span><span></span></div>
                </div>
            </div> 
        </header>
        <div class="separador-menu">
            <div class="contenido-separador contenedor">
                <h2 class=""> NUESTRA CARTA</h2>
                <P>Aquí encontrarás sabores que elevaran tu paladar a otro nivel </P>
                
                    
            </div>
        </div>
        <section class="menu contenedor">
            <h2 class="texto-platillos">Platos Gourmet</h2>
            <div class="botones-platillos">
                <button class="todos btn btn-verde" style="cursor:pointer">Todos</button>
                <button class="ensaladas btn btn-verde" style="cursor:pointer">Ensaladas</button>
                <button class="pasta btn btn-verde" style="cursor:pointer">Pasta</button>
                <button class="pizza btn btn-verde" style="cursor:pointer">Pizza</button>
                <button class="postres btn btn-verde" style="cursor:pointer">Postres</button>
            </div>
            <div class="platillos">
            <div class="platillo" data-platillo="ensalada">
                <img data-src="./Multimedia/ensalada.webp" alt="Ensalada">
                <h2>Ensalada de Quinoa</h2>
                <p>Ensalada de Quinoa con cerezas, tomate, aceitunas y cereal</p>
                <div class="precio">
                    <p>$500</p>
                    <button>comprar</button>
                </div>
            </div>
            <div class="platillo" data-platillo="ensalada">
                <img data-src="./Multimedia/ensalada2.webp" alt="Ensalada">
                <h2>Ensalada San Cristo</h2>
                <p>Ensalada de Lechuga con Palta, Pollo, Tomate Cherry y aceitunas </p>
                <div class="precio">
                    <p>$600</p>
                    <button>comprar</button>
                </div>
            </div>
            <div class="platillo" data-platillo="ensalada">
                    <img data-src="./Multimedia/ensalada2.webp" alt="Ensalada">
                    <h2>Ensalada Criolla</h2>
                    <p>Ensalada de Rúcula con tomates Cherrys, aceitunas negras y trozos de zapallito</p>
                    <div class="precio">
                        <p>$450</p>
                        <button>comprar</button>
                    </div>
            </div>
            <div class="platillo" data-platillo="pasta">
                    <img data-src="./Multimedia/pasta1.webp" alt="Pasta">
                    <h2>Pasta "La Nonna"</h2>
                    <p>Fideos sabor a Brocoli con una pisca de aceite de oliva, queso rallado y cilantro</p>
                    <div class="precio">
                        <p>$450</p>
                        <button>comprar</button>
                    </div>
            </div>
            <div class="platillo" data-platillo="pasta">
                <img data-src="./Multimedia/pasta2.webp" alt="Pasta">
                    <h2> Pasta "Barbieri"</h2>
                    <p>Pasta cacera con trozos decarne cortada a cuchillo, queso, salsa roja y mucho amor</p>
                <div class="precio">
                    <p>$700</p>
                    <button>comprar</button>
                </div>
        </div>
            <div class="platillo" data-platillo="pasta">
                    <img data-src="./Multimedia/pasta2.webp" alt="Pasta">
                        <h2> Pasta "Possitano"</h2>
                        <p>Pasta cacera con trozos de pollo, queso y salsa roja</p>
                    <div class="precio">
                        <p>$500</p>
                        <button>comprar</button>
                    </div>
            </div>
            <div class="platillo" data-platillo="pizza">
                <img data-src="./Multimedia/pizza1.webp" alt="Pizza">
                    <h2>Pizza de Mozzarela</h2>
                    <p>Pizza grande de Mozarella</p>
                    <div class="precio">
                        <p>$1000</p>
                        <button>comprar</button>
                    </div>    
            </div>
            <div class="platillo" data-platillo="pizza">
                <img data-src="./Multimedia/pizza2.webp" alt="Pizza">
                    <h2>Pizza de Anchoas</h2>
                    <p>Pizza grande de Mozzarela con anchoas y con aceitunas negras</p>
                    <div class="precio">
                        <p>$1300</p>
                        <button>comprar</button>
                    </div>
            </div>
            <div class="platillo" data-platillo="pizza">
                <img data-src="./Multimedia/pizza2.webp" alt="Pizza">
                    <h2>Pizza de Salame</h2>
                    <p>Pizza grande de Salame y queso con aceitunas negras</p>
                    <div class="precio">
                        <p>$1100</p>
                        <button>comprar</button>
                    </div>
            </div>
            <div class="platillo" data-platillo="postre">
                <img data-src="./Multimedia/postres1.webp" alt="Postres">
                    <h2>Helado "Forza Italia"</h2>
                    <p>Helado sabor crema Kinder con súper dulce de leche y trozos de chocolate</p>
                    <div class="precio">
                        <p>$900</p>
                        <button>comprar</button>
                    </div>
            </div>
            <div class="platillo" data-platillo="postre">
                <img data-src="./Multimedia/postres2.webp" alt="Postres">
                    <h2> Mousse "La Tramposa"</h2>
                    <p>Mousse de Chocolate</p>
                    <div class="precio">
                        <p>$500</p>
                        <button>comprar</button>
                    </div>
            </div>
            <div class="platillo" data-platillo="postre">
                <img data-src="./Multimedia/postres3.webp" alt="Postres">
                    <h2>Muffins "Lo de Criniti"</h2>
                    <p>Muffins de vainilla con frutos del bosque</p>
                    <div class="precio">
                        <p>$800</p>
                        <button>comprar</button>
                    </div>    
            </div>
        </div>
        </div>
        </section>
        <div class="pie-pagina ">
            <div class="contenedor-piepagina contenedor">
                <div class="info">
                    <h3>Dirección</h3>
                    <p>Manuela Pedraza. 2356</p>
                </div>
                <div class="info">
                    <h3>Horarios</h3>
                    <p>lunes a viernes: 9 am a 23 pm</p>
                    <p>Sábados y domingos: 10 am a 23 pm</p>
                    <p>15 30392-764789</p>
                </div>
                <div class="info">
                    <h3>Telefono:</h3>
                    <p>Para reservas comunicate al: 15 30927-64789</p>
                </div>
               <div class="info">
                    <h3>Tripadvisor</h3>
                    <p>Nuestra Calificación</p>
                    <a href="https://www.tripadvisor.com.ar/ShowUserReviews-g312741-d2318379-r256133553-Campo_dei_Fiori-Buenos_Aires_Capital_Federal_District.html" class="btn btn-verde ">Publicaciones</a>
                    
                </div>
            </div>
        </div>
        <footer class="footer">
            <p>Todos los derechos reservados &copy; Juan Barbieri, trabajo ProyectoFinalPWI. Agosto 2022</p>
        </footer>

        <script src="/JS/Funciones.js"></script>
            


                