    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
        <link rel="manifest" href="favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <title>Las Pasta della Nonna</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@700&family=Mulish:ital,wght@0,700;1,400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/index.css">       
        


    </head>
 <header class="encabezado">
            <div class="contenedor-navegacion">
                <div class="contenido-navegacion contenedor">
                    <div class="logo">
                        <h2>Ristorante    <span class="verde">"Las Pastas  </span>    <span>della  </span>    <span class="rojo">Nonna"</span></h2>
                    </div>
                    <nav class="navegacion ocultar">
                         <a href="/">Inicio</a>
                        <a href="#">Sobre Nosotros</a>
                        <a href="./Menu">Menú</a>
                        <a href="./Chef">Chef</a>
                        <a href="./Contacto">Contacto</a>
                    </nav>
                
                    <div class="hamburguesa"><span></span><span></span><span></span></div>
                </div>
            </div>
        </header>
        <div class="contenedor-nosotros-nosotros contenedor">
            <div class="texto-nosotros-nosotros">
                <p class="bienvenido">¡Bienvenido a!</p>
                <h1>Las Pastas della Nonna</h1>
                <h2>Sobre Nosotros</h2>
                <p>La Nonna es la expresión de nuestra pasión por la pasta Italiana y la cocina tradicional italiana.
                    Llevamos una trayectoria extensa por la gastronomía en Argentina desde 2010 y estamos orgullosos de nuestro restaurante, con ganas de hacer que nuestros clientes se sientan como en casa.
                    Nuestra pizza es la autentica pizza napolitana, hecha al horno de leña, con Tomate San Marzano y Mozarella de Bufala DOP de Campania, pero además tenemos los risottos, una amplia oferta de pasta fresca y seca, los mejores pescados y carnes cocinadas al típico estilo italiano y los dulces mas sabrosos.
                    Queremos ofrecer a nuestros cliente un ambiente cálido, familiar y acogedor tanto como platos de calidad con productos frescos y tradicionales para que les transporten a una auténtica experiencia italiana.
                </p>
                <br>
                <h2>Nuestro Equipo</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, sapiente consequuntur! Eos, eaque voluptatem beatae harum asperiores quod cumque qui error dicta voluptas mollitia natus doloremque magnam. A, laborum esse?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae eius repellat nam dolores nulla quibusdam optio laboriosam. Veritatis commodi, fuga unde aperiam officia suscipit animi dolore ad consectetur quisquam aspernatur!
                </p> 
                <div class="imagenes-nosotros">
                    <div class="imagen1-equipo">
                        <img data-src="./Multimedia/equipo.png" alt="Equipo de trabajo">
                    </div>
                    <div class="imagen2-equipo">
                        <img data-src="./Multimedia/equipo2.png" alt="equipo de trabajo">
                    </div>
                </div>
            </div> 
        </div>  
        <div class="contenedor-nosotros-nosotros contenedor">
            <div class="texto-nosotros-nosotros">
                    <h1>Nuestro local</h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas et molestiae ad ut ipsam dolorem obcaecati, adipisci fugiat sint perspiciatis explicabo consectetur distinctio! Iste, porro! Similique error deserunt qui voluptas!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat atque, numquam enim sequi consectetur reiciendis dolorem, fugit error, expedita earum soluta asperiores nemo placeat aut consequuntur adipisci consequatur perferendis ad.
                    </p>
                <div class="imagenes-nosotros-nosotros">
                    <div class="imagen1">
                        <img data-src="./Multimedia/Interior restaurante.png" alt="Restaurante interior">
                    </div>
                </div>
            </div>
        </div>
        <div class="contenedor-nosotros-nosotros contenedor">
            <div class="texto-nosotros-nosotros">
                        <h1>La Nonna</h1>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel porro nemo, magni nisi dignissimos doloremque eligendi fugiat obcaecati numquam nostrum earum. Ullam pariatur sequi beatae minima laboriosam harum! Harum, deserunt.
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab commodi tempora expedita tempore quas incidunt, dolores enim laudantium aliquam non facere, obcaecati natus? Soluta molestias labore, sunt blanditiis error vero.
                        </p>
                        <div class="imagen1">
                            <img data-src="./Multimedia/lannona.png" alt="Restaurante interior">
                        </div>
            </div>
        </div>
        <div class="pie-pagina">
            <div class="contenedor-piepagina contenedor">
                        <div class="info">
                            <h3>Dirección</h3>
                            <p>Manuela Pedraza. 2356</p>
                        </div>
                        <div class="info">
                            <h3>Horarios</h3>
                            <p>lunes a viernes: 9 am a 23 pm</p>
                            <p>Sábados y domingos: 10 am a 23 pm</p>
                            <p>15 30392-764789</p>
                        </div>
                        <div class="info">
                            <h3>Telefono:</h3>
                            <p>Para reservas comunicate al: 15 30927-64789</p>
                        </div>
                       <div class="info">
                    <h3>Tripadvisor</h3>
                    <p>Nuestra Calificación</p>
                    <a href="https://www.tripadvisor.com.ar/ShowUserReviews-g312741-d2318379-r256133553-Campo_dei_Fiori-Buenos_Aires_Capital_Federal_District.html" class="btn btn-verde ">Publicaciones</a>
                    
                </div>
            </div>
        </div>
    <footer class="footer">
        <p>Todos los derechos reservados &copy; Juan Barbieri, trabajo ProyectoFinalPWI. Agosto 2022</p>
    </footer>
                    
                   <script src="/JS/Funciones.js"></script>
        
        
                </div>

            

